body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #eaeaea;
  border-width: 7px;
  width: 5%;
  margin: 100px auto 100px auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.programmer {
  font-size: 2.5rem;
  font-weight: normal;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 30px;
}

.middle-container {
  margin-top: 50px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: relative;
  left: 320px;
  top: 30px;
}

.div-bottom-cloud {
  position: relative;
  right: 330px;
}

.skill-row {
  width: 75%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.table-tennis-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.tennis-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-me{
  margin: 50px auto 50px auto;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}
